/* css.css */
main{
  padding-bottom: 20px;
}

/* inicio de sesión */
.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .left-side,
  .right-side {
    flex: 1; 
  }
  
  .left-side {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*formulario de inicio de sesión */
  .login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    background-color: #8BBEC8;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #0A3448;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #4f8090;
  }
  
  /*mensaje de registro */
  .register-message {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .register-message a {
    color: #0A3448;
    text-decoration: none;
  }
  
  
  /*Header*/
.header {
  font-family: 'frauces';;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a3448;
    padding: 10px 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-start img {
    height: 100px;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .header-center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 700px;
  }
  
  .search-bar {
    background-color: #fff;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
  }
  
  .search-button {
    background-color: #0A3448;
    border: 2px solid #FBFEFE;
    padding: 11px 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    color: #FBFEFE;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
  }
  
  .header-icon .fa-shopping-cart::after {
    content: '0';
    position: absolute;
    top: -10px;
    right: -10px;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  

  /*Carrusel*/
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px; 
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.slick-slide:hover {
    transform: scale(1.05);
}

.slick-slide img {
    max-width: 100%;
    height: auto;
}

.slick-slide h3 {
    margin: 10px 0;
    text-align: left;
}

.slick-slide button {
    background-color: #0A3448;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    bottom: 0px; 
}

.titulocarrusel{
  text-align: center;
  font-family: 'faunces';
}

.barra {
  background-color: #0a3448; /* Cambia a tu color deseado */
  color: white;
  padding: 1em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #8BBEC8;
}

/*Navegacion*/
.navbar { 
  padding-left: 37% !important;
  background: linear-gradient(		
    135deg, 
    #82a9fc,
		#311ff4, 
		#82a9fc
	); 
	box-shadow: 0px 4px 8px
		rgba(0, 0, 0, 0.1); 
} 
.brand-text { 
	color: #ffffff !important; 
	font-size: 36px; 
	font-weight: 800; 
	text-shadow: 2px 2px 4px
		rgba(0, 0, 0, 0.2); 
} 
.dropdown-menu { 
  margin: 10px !important;
	background: linear-gradient( 
		135deg,
    #0e28e9,
		#468df0, 
		#0e28e9
	); 
	border: none; 
} 
.dropdown-item { 
	color: #ffffff !important; 
	font-size: 18px; 
	font-weight: 600; 
} 
.navbar-nav .nav-link:hover, 
.dropdown-item:hover {
	background: linear-gradient( 
		135deg, 
		#0e28e9,
		#468df0, 
		#0e28e9
	); 
	color: #ffffff !important; 
	transition: background-color 0.3s 
		ease-in-out; 
} 


  /*FOOTER*/

  .footer {
    background-color: #0A3448;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-section h4 {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section .social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-section ul {
    margin-top: 10px;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  

  .tituloss {
    font-family: 'faunces';
    font-size: 25px;
  }

  .slogan {
    font-family: 'faunces'; 
  }

  .derechos{
    text-align: center;
    font-size: 16px;
  }

  
  /* Banner*/
  .advertisement-banner {
    height: 100%; 
    width: 100%; 
    margin: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Asegurar que el contenido no se desborde */
}

.advertisement-content {
  max-height: 100% ;
  height: 100%;
  object-fit: cover;
    
}

.advertisement-content img {
    width: 65rem;
    height: 100%;
    object-fit: cover; /* Asegurar que la imagen cubra todo el espacio sin deformarse */
}


.advertisement-banner2 {
  height: 100%; 
  width: 100%; 
  margin: 0px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.advertisement-content2 {
  max-height: 100%;
  height: 100%;
  object-fit: contain; 
  display: flex; 
  gap: 10px; 
}

.advertisement-content2 img {
  width: 50vw; 
  height: auto; 
  object-fit: contain; 
}

  
/* página de registro */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .register-container h2{
    text-align: center;
  }

  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container form div {
    margin-bottom: 15px;
  }
  
  .register-container form label {
    font-weight: bold;
  }
  
  .register-container form input[type="text"],
  .register-container form input[type="email"],
  .register-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #8BBEC8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-container form button[type="submit"] {
    background-color: #0A3448;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .register-container form button[type="submit"]:hover {
    background-color: #4f8090;
  }
  
.catalogo-title {
    color: #333; 
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
  }

  .producto:hover {
    transform: scale(1.05); 
  }
  
  .producto img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 10px;
  }
  
  .producto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sku, .product-name, .price {
    display: block;
    margin: 5px 0;
    font-size: 1em;
    color: #333; 
  }
  
 
  
  .price {
    color: #0A3448; 
    font-size: 1.2em;
  }
  
  .add-to-cart {
    background-color: #0A3448; 
    color: #fff; 
    border: none; 
    border-radius: 4px;
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 10px; 
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #4f8090; 
  }
  
  

  /* Estilos para el componente Carrito */
.carrito-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .cart-items {
    flex: 1;
  }
  
  @media (min-width: 768px) {
    .cart-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .cart-items, .cart-summary {
      flex: 1;
      margin: 0 10px;
    }
  }
  
  @media (max-width: 767px) {
    .cart-summary {
      margin-top: 20px;
    }
  }


 
  body {
    font-family: Arial, sans-serif;
  }

 /*PRODUCTOS*/
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}




.catalogo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.catalogo-filters{
  flex-direction: column;
}

.filters h2{
  text-align: center;
}


.product-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.producto {
    flex: 1 1 calc(25% - 40px);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s;
}

.producto:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.producto-info {
    margin-top: 10px;
}

.sku {
    display: block;
    font-size: 12px;
    color: #888;
}

.product-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #0A3448;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #06334f;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-items {
    flex: 2;
    margin-right: 20px;
}

.cart-summary {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details {
    flex: 1;
}

.item-name {
    font-weight: bold;
    color: #333;
}

.item-description {
    font-size: 12px;
    color: #888;
}

.item-quantity {
    display: flex;
    align-items: center;
}

.item-quantity button {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
}

.item-quantity span {
    margin: 0 10px;
}

.item-price {
    font-weight: bold;
    color: #0A3448;
}

.remove-item {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #0A3448;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.checkout-button {
    padding: 10px 15px;
    background-color: #0A3448;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

.checkout-button:hover {
    background-color: #06334f;
}

.continue-shopping {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #0A3448;
}

.continue-shopping:hover {
    text-decoration: underline;
}

/*Filters*/

.filters {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.filters h2 {
  margin-top: 0;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-group select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color:#06334f;
}

/* Estilos para la paginación */
.pagination-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f0f0f0;
}

/*Paypal*/

.pay {
  display: flex;
  justify-content: center;
}
.profile-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profile-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-form {
  margin: 20px 0;
}

.profile-form div {
  margin-bottom: 10px;
}

.profile-form label {
  display: block;
  margin-bottom: 5px;
}

.profile-form input,
.profile-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*AdminDashboard*/

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Títulos y encabezados */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Margen inferior */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Tarjetas de resumen */
.card {
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Tablas de gestión */
.table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #007bff;
  color: #fff;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Botones */
.btn-success {
  margin-top: 20px;
}

.btn-warning {
  margin-right: 10px;
}

/*ActivitySumary*/

.card-deck {
  Display: flex;
  Justify-content: center;
}

.card{
  
  height: 300px;
  width: 300px;
}

